{% extends "tease.twig" %}

{% block content %}

	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	{% if post.thumbnail.src %}
		<div class="hp-flex hp-full hp-justify-between ">
			<p class="hp-two-third">{{post.preview.length(25)}}</p>
			<img src="{{post.thumbnail.src}}" class="hp-thumb hp-third"/>
		</div>
	{% else %}
		<p>{{post.preview.length(25)}}</p>
	{% endif %}
		

{% endblock %}