<div class="leoraw-boxes-container">
{% set boxes = post.meta('box_repeater') %} 

  {% for box in boxes %}
  <div class="leoraw-box-wrap"><div class="leoraw-box">
    <div class="leoraw-image-container">
      <img src="{{ box.image_boxed.url }}" class="hp-thumb-class" alt="{{ box.box_title }}" />
    </div>
    <h2><a class="button" href="{{ box.link.url }}">{{ box.box_title }}</a></h2>
    <div class="leoraw-box-text">{{ box.box_text_area }}</div>
    </div></div>
  {% endfor %}
</div>

{# {{ dump(boxes)}} #}




