<div class="blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
	<h5 class="comment-author">
		{% if comment.comment_author_url %}
			<a href="{{ comment.comment_author_url}}">
		{% endif %}
	{{comment.author.name}}
		{% if comment.comment_author_url %}
		</a>
		{% endif %}
	says</h5>
	<div class="comment-content">{{comment.comment_content|wpautop}}</div>

	<section class="comment-box">
		
		<!-- comment form -->
		<a id="replybutton" onclick="replybutton(this)">Reply</a>
		<div style="display:none">{% include "comment-form.twig" %}</div>
		<!-- child comments -->
		{% if post.comments %}
			<div class="comments">
				{% for cmt in comment.children %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
			</div>
		{% endif %}

	</section>
</div>
<script>
function replybutton(btn) {
  btn.nextElementSibling.style.display = "block";
  btn.style.display = "none"
  }
</script>