{% extends "base.twig" %}

{% block content %}
<div class="content-wrapper">
  <section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
      <div class="leoraw-boxes-container">
      {% for post in posts %}
        <div class="leoraw-img-wrap">
          
          {% if post.thumbnail.src %}
            <img src="{{post.thumbnail.src}}"/>
            <h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
          {% else %}
          <h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
          {% endif %}
          
        </div>
        {% endfor %}
      </div>

</section>

	{% if posts.pagination %}
    {% include 'partial/pagination.twig' with { pagination: pagination } %}
  {% endif %}
      </div>
  </div>
{% endblock %}
