{% extends "tease.twig" %}

{% block content %}

	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	{% if post.thumbnail.src %}
		<div>
			<p>{{post.content}}</p>

			<img src="{{post.thumbnail.src}}"/>
		</div>
	{% else %}

		<p>{{post.content}}</p>
	{% endif %}
		

{% endblock %}